
* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* errors */
.error {
  color: red;
}
.success {
  color: green;
}
/* login and register*/
.sign_in_container {
  display: flex;
  justify-content: space-between;
  max-height: 1024px;
  position: relative;
}
.logo {
  position: absolute;
  display: flex;
  top: 32px;
  left: 32px;
  font-weight: 600;
  font-size: 24px;
  gap: 10px;
}
.sign_in_container h1 {
  font-size: 40px;
  font-weight: 700;
  
}
.sign_in_left {

  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 64px;
  gap: 20px;

}
.sign_in_left span {
  font-size: 18px;
  line-height: 27px;
  color: #969696;
}
.sign_in_left form {

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
}
.sign_in_left form input {
  width: 399px;
  height: 20px;
  border-radius: 10px;
  border: 1.5px solid #D9D9D9;
  padding: 16px;
}
.sign_in_left form label {
  
  display: flex;
  gap: 10px;

}
.sign_in_left form label input {
  width: auto;
}

.sign_in_left form button {
  width: 429px;
  height: 54px;
  background: #367AFF;
  color: #FFF;
  padding: 16px 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -1%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.sign_in_left form .or {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
}
.sign_in_left form .or span {
  width: 181.5px;
  height: 1px;
  background: #D9D9D9;
}

.sign_in_left form .sign_in_google {
  width: 399px;
  height: 25px;
  padding: 16px 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -1%;
  border-radius: 10px;
  border: 1px solid #E6E8E7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px;
  
}
.sign_in_left form .sign_in_google img {
  height: 17px;
  width: 17px;
  align-content: center;
  margin-top: 5px;
}
.sign_in_left form .reg {
  text-align: center;
  font-size: 18px;
}

/* side-menu */

.side-menu {
  max-width: 250px;
  height: auto;
  padding: 36px 26px 45px;
  box-shadow: 8px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 99;
}

.side-menu .side-ttl {
  display: flex;
  gap: 10px;

}

.side-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24rem;
  margin-top: 40px;
  
}

.side-items ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  margin-left: -40px;

}
.side-items ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  color: #9197B3;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  border-radius: 8px;
  padding: 10px;
}

.side-items ul li:hover {
  background: #5932EA;
  color: #FFF;
}

.side-items ul .active {
  background: #5932EA;
  color: #FFF;
}

.app {
  display: flex;
}